.nav-content a {
    text-decoration: none;
    color: black;
}

.get-a-quote-btn {
    color: white;
    background-color: #FA1239;
    border: none;
    border-radius: 18px;
    padding: 5px 15px 5px 15px;
    box-shadow: 0px 0px 4px 4px #f9c8d0;
    outline-color: transparent;
    outline-width: 2px;
}

main {
    background-color: #FFE7EB;
}

.text-header {
    position: relative;
}

.text-header img {
    position: absolute;
    top: 6.7rem;
    width: 22rem;
}

.text-header h1 {
    font-size: 3rem;
    line-height: 1.2;
    color: black;
}

.modify {
    color: red;
}

.text-para {
    width: 80%;
}

.btn2 {
    color: #FA1239;
    background-color: white;
    border: 1px solid #FA1239;
    border-radius: 18px;
    padding: 9px 18px;
    box-shadow: 0px 0px 4px 4px #f9c8d0;
    outline-color: transparent;
    outline-width: 2px;
}

.btn3 {
    color: white;
    letter-spacing: 0.1vw;
    background-color: #FA1239;
    border: none;
    border-radius: 18px;
    padding: 9px 18px;
    box-shadow: 0px 0px 5px 5px #f9c8d0;
    outline-color: transparent;
    outline-width: 2px;
}


.girl-img {
    position: relative;
}

.girl-img img {
    width: 89%;
}

.box1 {
    background-color: white;
    height: 17%;
    width: 49%;
    position: absolute;
    bottom: 28%;
    left: -4%;
    align-items: center;
    border-radius: 10px;
}

.box2 {
    background-color: white;
    height: 18%;
    width: 40%;
    position: absolute;
    bottom: 5%;
    right: 9%;
    align-items: center;
    border-radius: 10px;
}

.box1 h1 {
    color: #1CB098;
}

.rating {
    letter-spacing: 0.1;
}

.rating-icon i {
    color: #FFAB00;
}

.box2 i {
    color: #FC4E6A;
}

.what-you-get {
    padding: 10px 10px;
    border-radius: 12px;
    background-color: rgb(249, 200, 208);
    color: rgb(0, 0, 0);
    border: none;
}

.card {
    border: none;
    box-shadow: 0px 0px 0.5vw 0.5vw rgba(128, 128, 128, 0.093);
    outline-color: transparent;
    outline-width: 0.3vw;
}


@media (max-width:1200px) {
    .girl-img img {
        width: 100%;
    }
}

@media (max-width:1199px) {
    .grad-260 {
        font-size: 2.3vw;
    }

    .grad-h6 {
        font-size: 1.1vw;
    }
}

@media (max-width:992px) {
    .text-para {
        width: 100%;
    }

    .grad-260 {
        font-size: 4.5vw;
    }

    .grad-h6 {
        font-size: 2.4vw;
    }
}

@media (max-width:576px) {
    .grad-260 {
        font-size: 6vw;
    }

    .grad-h6 {
        font-size: 3vw;
    }
}

@media (max-width:400px) {
    .box1 h1 {
        font-size: 6vw;
    }

    .rating {
        letter-spacing: 0;
    }

    .rating-icon i {
        font-size: 3vw;
    }
    
    .rating-h5{
        font-size: 3.4vw;
    }
    .grad-icon i {
        font-size: 6vw;
    }

    .grad-260 {
        font-size: 6vw;
    }

    .grad-h6 {
        font-size: 3vw;
    }
}
